.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.home-center {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.artwork img {
  /* border-radius: 35%; */
  width: 280px;
}

.home-title {
  display: grid;
}

body {
  font-family: 'Roboto';
}

@media only screen and (min-width: 50em) {
  .home-container {
    width: 1000px;
  }
}

@media only screen and (max-width: 50em) {
  .home-container {
    width: 600px;
  }
}

.centered {
  display: grid;
  place-items: center;
}

.home-entries {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* .home-entries[data-flex-wrap] {
  flex-wrap: wrap;
}

.home-entries[data-space] {
  justify-content: space-between;
}

.home-entries[data-align-center] {
  align-items: center;
} */

/* Presentation styles */
.home-entries>* {
  max-width: 333px;
  flex: 270px;
  margin-bottom: 33px;
}