.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.home-center {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.artwork img {
  /* border-radius: 35%; */
  width: 10rem;
}

.home-title {
  display: grid;
}

.home-entries-container {
  display: flex;
}

.home-entries-container[data-flex-wrap] {
  flex-wrap: wrap;
}

.home-entries-container[data-space] {
  justify-content: space-between;
}

.home-entries-container[data-align-center] {
  align-items: center;
}

/* Presentation styles */
.home-entries-container>* {
  max-width: 280px;
}